@import "tailwindcss";
/* Keyframes */
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideInBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: scale(0.96);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Animations */
.animate-slide-in-left {
  animation: slideInLeft 0.3s ease-out;
}

.animate-slide-in-right {
  animation: slideInRight 0.3s ease-out;
}

.animate-slide-in-top {
  animation: slideInTop 0.3s ease-out;
}

.animate-slide-in-bottom {
  animation: slideInBottom 0.3s ease-out;
}

.animate-spin-slow {
  animation: spin 3s linear infinite;
}

.animate-overlay-show {
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.animate-content-show {
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

/* Font Families */
.font-blink-title {
  font-family: "Crimson Text", "Times New Roman", serif;
}

.font-blink-text {
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.bg-blinkGray50 {
  background: #090909;
}

.bg-blinkNeutral50 {
  background: #1f1f1f;
}

.bg-blinkGray200 {
  background: #6b706c;
}
